// vuepress tabs plugin styles
@require '~vuepress-plugin-tabs/dist/themes/default.styl'

// vuepress tabs dark mode fix
.tabs-component-tab
  background-color inherit !important

// vuepress tabs dark mode fix
.tabs-component-panels
  background-color inherit !important
